@charset "utf-8";

/***** header *****/
header {
  position: fixed;
  z-index: 9999;
  width: 100%;
}

header .header-nav {
  /* background-color: #eeeeee; */
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 16px;
}

header .header-nav h1 img {
  width: 80px;
}

header .header-nav .close {
  display: none;
}

header .header-nav .global-menu {
  display: flex;
}

header .header-nav .global-menu li {
  padding-left: 20px;
}

header .header-nav .global-menu li a {
}

header .header-nav .global-menu li a span {
  display: none;
}

/*** main-menu ***/
main .menu-container {
  width: 100%;
  position: fixed;
  top: 50px;
  z-index: 9999;
}

main .menu-container .main-menu {
  font-weight: 500;
  display: none;
}

/* 메뉴 아이콘 터치 시 */
main .menu-container .main-menu.active {
  display: block;
  background-color: #fff;
}

header .header-nav .global-menu.away {
  display: none;
}

header .header-nav .close.nav-on {
  display: block;
}

main .menu-container .main-menu li:nth-child(1) a,
main .menu-container .main-menu li:nth-child(6) a,
main .menu-container .main-menu li:nth-child(7) a {
  font-family: 'Abhaya Libre', Georgia, 'Times New Roman', Times, serif;
  font-weight: 800;
  font-size: 18px;
}

main .menu-container .main-menu li a {
  background-color: #fff;
  padding: 15px 25px;
  border-bottom: 1px solid #ddd;
  display: block;
  font-size: 16px;
}

/***** footer *****/
footer {
  padding: 0 16px;
}

footer .sub-menu {
  padding: 70px 0 40px 0;
}

footer .sub-menu li {
  padding-bottom: 10px;
}

footer .sub-menu li a {
  font-size: 12px;
  color: #272727;
}

footer address {
  color: #898989;
  font-size: 10px;
  padding-bottom: 18px;
  font-style: normal;
}

/***** pc *****/
@media screen and (min-width: 768px) {

  /****** header ******/
  header .header-nav {
    height: 60px;
    padding: 0 20px;
  }

  header .header-nav h1 img {
    width: 120px;
    /* padding-top: 10px; */
  }

  /* 피시 버전에서는 숨겨야 하는 모바일 콘텐츠 */
  header .header-nav .global-menu li .search,
  header .header-nav .global-menu li .user,
  header .header-nav .global-menu li .menu {
    display: none;
  }

  /* 모바일 버전에서는 숨겼으나 피시 버전에서는 보여야 하는 콘텐츠 */
  header .header-nav .global-menu li a span {
    display: block;
    font-family: 'Abhaya Libre', Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 20px;
    color: #171717;
    padding-right: 20px;
  }

  header .header-nav .global-menu li a .cart {
    width: 23px;
  }

  /*** 메뉴 ***/
  main .menu-container .main-menu {
    display: block;
    position: fixed;
    top: 90px;
    padding: 0 0 20px 14px;
  }

  main .menu-container .main-menu li {
    padding-bottom: 18px;
  }

  main .menu-container .main-menu li a {
    border: none;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
  }

  main .menu-container .main-menu li:nth-child(1) a,
  main .menu-container .main-menu li:nth-child(6) a,
  main .menu-container .main-menu li:nth-child(7) a {
    font-size: 18px;
  }

  /***** footer *****/
  footer {
    margin-top: 50px;
    position: relative;
  }

  footer .sub-menu {
    position: absolute;
    bottom: 30px;
    left: 34px;
  }

  footer .sub-menu li a {
    font-size: 13px;
    color: #272727;
  }

  footer address {
    text-align: center;
    font-style: normal;
    font-size: 12px;
    margin-bottom: 20px;
  }
}